<div class="text" style="opacity: 1;">
    <!-- Large title -->
    <div class="titletext"><span>CAPTIVATE</span> <span>WITH</span> <span>CREATIVE</span></div>
    <div class="bodytext">We dive deep, we take creative risks and we make amazing happen. We understand the complexities of mobile advertising and turn them into opportunities. We design for the future canvas and are constantly pushing the industry forward. The complexity in building creative for the mobile world is in our DNA, and we are unrivaled in our experience across mobile web and App.</div>
    <div class="subtitletext"><a href="/creative/" class="orange-button">LEARN MORE</a></div>
</div>